<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8" />
<title></title>
<link rel="stylesheet" type="text/css" href="/css/common.css" />
</head>
<body>
<script>
alert('<%= message %>');
history.back();
</script>
</body>
</html>
