<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title></title>
<link rel="stylesheet" type="text/css" href="/css/common.css" />
</head>
<body>
<div class="wrap">
    <div class="header">
        <h1 class="blind">JOIN THE EVENT</h1>
    </div>
    <div class="container">
        <form method="post" action="/registerVideo" enctype="multipart/form-data">
            <fieldset>
            <legend></legend>
                <ul class="frm_mov">
                    <li>
                        <div class="wrp_top">
                            <label for="vurl" class="txt"><span class="ico"><img src="/images/ico_n1.gif" alt="1" /></span>Enter Video URL</label>
                            <input type="text" name="vurl" id="vurl" title="동영상 URL입력" />
                        </div>
                        <div class="wrp_up">
                            <p class="area_up">
                                <span>Or upload a your video/picture</span>
                                <a href="#" class="vfile"><img src="/images/btn_browse.gif" alt="browse" /></a>
                                <input type="file" name="vfile" id="vfile" title="browse a file" />
                            </p>
                            <p class="area_notice">* Choose between url or file upload / * Only 1 file can be uploaded</p>
                        </div>
                    </li>
                    <li>
                        <div class="wrp_top">
                            <label for="vname" class="txt"><span class="ico"><img src="/images/ico_n2.gif" alt="2" /></span>Title</label></label>
                            <input type="text" name="vname" id="vname" />
                        </div>
                    </li>
                    <li>
                        <div class="wrp_top">
                            <label for="vdesc" class="txt"><span class="ico"><img src="/images/ico_n3.gif" alt="3" /></span>Entry summary</label></label>
                            <textarea name="vdesc" id="vdesc" /></textarea>
                        </div>
                    </li>
                    <li>
                        <div class="wrp_top">
                            <label for="vorigin" class="txt">
                                <span class="ico"><img src="/images/ico_n4.gif" alt="4" /></span>Title of the original Hallyu content
                                <span class="br">(ex: a scene from the K-Drama "Goblln")</span>
                            </label>
                            <input type="text" name="vorigin" id="vorigin" class="vorigin" />
                        </div>
                    </li>
                </ul>

                <ul class="frm">
                    <li class="name">
                        <label for="ufirst" class="txt">1. Enter Your name</label>
                        <span class="wrp_inpt name">
                            <input type="text" name="ufirst" id="ufirst" placeholder="Given name" />
                            <input type="text" name="ulast" placeholder="Family name" />
                        </span>
                    </li>
                    <li class="nationality">
                        <label for="unation" class="txt">2. Nationality</label>
                        <span class="wrp_inpt">
                            <input type="text" name="unation" id="unation" />
                        </span>
                    </li>
                    <li class="city">
                        <label for="ucity" class="txt">3. City and Country of residence</label>
                        <span class="wrp_inpt">
                            <input type="text" name="ucity" id="ucity" />
                            <input type="text" name="ucountry" id="ucountry" />
                        </span>
                    </li>
                    <li class="sns">
                        <label for="usns1" class="txt">4. SNS (Youtube, Instagram, etc)</label>
                        <span class="wrp_inpt">
                            <input type="text" name="usns1" id="usns1" />
                            <input type="text" name="usns2" />
                        </span>
                    </li>
                    <li class="email">
                        <label for="uemail" class="txt">5. Enter Your E-mail Address</label>
                        <span class="wrp_inpt">
                            <input type="text" name="uemail" id="uemail" />
                        </span>
                        <!-- <a href="#" class="btn_chk_email">중복확인</a> -->
                    </li>
                    <li class="visit">
                        <span class="label txt">6. How many times have you visited Korea?</span>
                        <span class="wrp_radio">
                            <input type="radio" name="uvisit" id="uvisitN" value="없음" checked="checked" />
                            <label for="uvisitN" class="radio">N/A</label>
                            <input type="radio" name="uvisit" id="uvisit1" value="1회" />
                            <label for="uvisit1" class="radio">1 time</label>
                            <input type="radio" name="uvisit" id="uvisit2" value="2회" />
                            <label for="uvisit2" class="radio">2 time</label>
                            <input type="radio" name="uvisit" id="uvisit3" value="3회" />
                            <label for="uvisit3" class="radio">3 times</label>
                            <input type="radio" name="uvisit" id="uvisit4" value="4회 이상" />
                            <label for="uvisit4" class="radio">More than 4 times</label>
                        </span>
                    </li>
                    <li class="visa">
                        <span class="label txt">7. Do you have a valid passport?</span>
                        <span class="wrp_radio passport">
                            <input type="radio" name="upassport" id="upassport1" value="YES" checked="checked" />
                            <label for="upassport1" class="radio">YES</label>
                            <input type="radio" name="upassport" id="upassport2" value="NO" />
                            <label for="upassport2" class="radio">NO</label>
                        </span>
                    </li>
                    <li class="visa">
                        <span class="label txt">8. Do you have a visa to visit Korea?</span>
                        <span class="wrp_radio">
                            <input type="radio" name="uvisa" id="uvisa1" value="YES" checked="checked" />
                            <label for="uvisa1" class="radio">YES</label>
                            <input type="radio" name="uvisa" id="uvisa2" value="NO" />
                            <label for="uvisa2" class="radio">NO</label>
                            <input type="radio" name="uvisa" id="uvisa3" value="무비자 입국가능" />
                            <label for="uvisa3" class="radio none">I am eligible for visa-free entry</label>
                        </span>
                    </li>
                    <li class="visit">
                        <span class="label txt cancel">9. Is there any reason you may be refused entry to Korea?</span>
                        <span class="wrp_radio">
                            <input type="radio" name="ucancel" id="ucancel1" value="있음" checked="checked" />
                            <label for="ucancel1" class="radio">I am able to visit Korea</label>
                            <input type="radio" name="ucancel" id="ucancel2" value="없음" />
                            <label for="ucancel2" class="radio">I cannot visit Korea</label>
                            <input type="radio" name="ucancel" id="ucancel3" value="잘 모름" />
                            <label for="ucancel3" class="radio">Unsure</label>
                        </span>
                    </li>
                </ul>

                <div class="notice">
                    <p>
                        All personal information shall be kept confidential and used strictly for the purposes of this event. Information will not be stored or shared with third parties. Do you agree to
                        submit your personal information?
                    </p>
                    <p class="chk">
                        <input type="checkbox" name="agree" id="agree" />
                        <label for="agree">YES</label>
                    </p>
                </div>
                <p class="btn"><a href="#" class="sbm"><img src="/images/btn_submit.gif" alt="submit" /></a></p>
            </fieldset>
        </form>
    </div>
</div>

<div class="indc">
    <div class="overlay"></div>
    <div class="cont">
        <img src="/images/gif_loading.gif" alt="uploading...." />
    </div>
</div>
<script src="/js/jquery-1.12.4.min.js"></script>
<script>
(function($){
    var ufirst = $('#ufirst');
    var ulast = $('input[name=ulast]');
    var unation = $('#unation');
    var ucity = $('#ucity');
    var ucountry = $('#ucountry');
    var usns1 = $('#usns1');
    var usns2 = $('input[name=usns2]');
    var uemail = $('#uemail');
    var vurl = $('#vurl');
    var vfile = $('#vfile');
    var vname = $('#vname');
    var vdesc = $('#vdesc');
    var vorigin = $('#vorigin');
    var agree = $('#agree');

    var emailRegEx = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
    var emailFlag = false;
    var tmpEmail = '';

    $('.wrp_radio').each(function(a){
        radioUI($(this));
    });

    uemail.on('blur', function(e){
        var self = $(this);

        if(self.val() !== ''){
            if(!emailRegEx.test(self.val())){
                alert('이메일 형식이 바르지 않습니다.');
                self.val('').focus();
                return false;
            }

            $.ajax({
                type: 'GET',
                url: '/checkEmail',
                data: {uemail: self.val()},
                dataType: 'json',
                success: function(data){
                    alert(data.message);
                    emailFlag = true;
                    tmpEmail = self.val();
                },
                error: function(err){
                    alert(err.responseJSON.message);
                    emailFlag = false;
                    self.val('').focus();
                }
            });
        }
    });

    vurl.on('focus', function(e){
        if(vfile.val() !== ''){
            var flag = confirm('동영상 URL 또는 파일 업로드 중 한가지 방식만 등록 가능합니다. URL입력시 선택하신 동영상 파일은 초기화 됩니다. URL을 입력 하세겠습니까?');

            if(flag){
                vfile.remove();
                vfile = $('<input type="file" name="vfile" id="vfile" title="browse a file" />').appendTo('.area_up');
            }else{
                $(this).blur();
            }
        }
    });

    $('.vfile').on('click', function(e){
        if(vurl.val() !== ''){
            var flag = confirm('동영상 URL 또는 파일 업로드 중 한가지 방식만 등록 가능합니다. 파일을 선택하시면 입력하신 URL은 초기화 됩니다. 파일을 선택 하시겠습니까?');

            if(flag){
                vurl.val('');
                vfile.trigger('click');
            }
        }else{
            vfile.trigger('click');
        }

        return false;
    });

    $('.sbm').on('click', function(e){
        //todo 확장자 제한
        if(vurl.val() === '' && vfile.val() === ''){
            alert('동영상 URL을 입력 또는 파일을 선택해 주세요');
            vurl.focus();
            return false;
        }

        if(vfile.val() !== ''){
            var tmp_arr = vfile.val().split('.'),
                leng = tmp_arr.length,
                ext = tmp_arr[leng-1].toLowerCase(),
                ext_arr = ['mov', 'avi', 'mp4'],
                ext_leng = ext_arr.length,
                ext_flag = false;

            for(var i=0; i< ext_leng; i++){
                if(ext === ext_arr[i]){
                    ext_flag = true;
                    break;
                }
            }

            if(!ext_flag){
                alert('동영상 파일은 3MB 이하의 avi, mov, mp4 파일만 가능합니다.');
                return false;
            }
        }

        if(vname.val() === ''){
            alert('출품명을 입력해 주세요');
            vname.focus();
            return false;
        }

        if(vdesc.val() === ''){
            alert('동영상 설명을 입력해 주세요');
            vdesc.focus();
            return false;
        }

        if(vorigin.val() === ''){
            alert('한류 컨텐츠 원제목을 입력해 주세요');
            vorigin.focus();
            return false;
        }

        if(ufirst.val() === ''){
            alert('이름을 입력해 주세요');
            ufirst.focus();
            return false;
        }

        if(ulast.val() === ''){
            alert('성을 입력해 주세요');
            ulast.focus();
            return false;
        }

        if(unation.val() === ''){
            alert('국적을 입력해 주세요');
            unation.focus();
            return false;
        }

        if(ucity.val() === ''){
            alert('도시를 입력해 주세요');
            ucity.focus();
            return false;
        }

        if(ucountry.val() === ''){
            alert('주를 입력해 주세요');
            ucountry.focus();
            return false;
        }

        if(usns1.val() === '' && usns2.val() === ''){
            alert('sns 주소를 최소 1개 이상 입력해 주세요');
            usns1.focus();
            return false;
        }

        if(uemail.val() === ''){
            alert('이메일을 입력해 주세요');
            uemail.focus();
            return false;
        }else{
            if(!emailRegEx.test(uemail.val())){
                alert('이메일 형식이 바르지 않습니다.');
                uemail.focus();
                return false;
            }
        }

        if(!emailFlag || tmpEmail !== uemail.val()){
            alert('이메일 중복확인을 해 주세요.');
            return false;
        }

        if(!agree.prop('checked')){
            alert('개인정보 취급 방식에 동의해주세요');
            agree.focus();
            return false;
        }

        //todo indicator 추가
        $('.indc').show();
        $('form').submit();
    });

    function radioUI(scope){
        var radio = scope.find('label'),
            input = scope.find('input'),
            current = null;

        radio.each(function(a){
            if(input.eq(a).prop('checked')){
                active($(this));
            }
        });

        radio.on('click', function(e){
            if(current) deactive(current);
            active($(this));
        });

        function active(item){
            item.addClass('on');
            current = item;
        }

        function deactive(item){
            item.removeClass('on');
        }
    }
}(jQuery));
</script>
</body>
</html>
