<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title></title>
<link rel="stylesheet" type="text/css" href="/css/common.css" />
</head>
<body>
<div class="wrap">
    <div class="header">
        <h1>VIST SEOUL 참여하기</h1>
    </div>
    <div class="container">
        <form method="post" action="/registerVideo" enctype="multipart/form-data">
            <fieldset>
            <legend></legend>
                <ul class="frm">
                    <li class="name">
                        <label for="ufirst" class="txt">1. Enter Your name</label>
                        <span class="wrp_inpt name">
                            <input type="text" name="ufirst" id="ufirst" placeholder="Given name" />
                            <input type="text" name="ulast" placeholder="Family name" />
                        </span>
                    </li>
                    <li class="nationality">
                        <label for="unation" class="txt">2. Nationality</label>
                        <span class="wrp_inpt">
                            <input type="text" name="unation" id="unation" />
                        </span>
                    </li>
                    <li class="sns">
                        <label for="usns1" class="txt">4. SNS (Youtube, Instagram, etc)</label>
                        <span class="wrp_inpt">
                            <input type="text" name="usns1" id="usns1" />
                            <input type="text" name="usns2" />
                        </span>
                    </li>
                    <li class="email">
                        <label for="uemail" class="txt">5. Enter Your E-mail Address</label>
                        <span class="wrp_inpt">
                            <input type="text" name="uemail" id="uemail" />
                        </span>
                        <!-- <a href="#" class="btn_chk_email">중복확인</a> -->
                    </li>
                    <li class="visit">
                        <span class="label txt">6. How many times have you visited Korea?</span>
                        <span class="wrp_radio">
                            <input type="radio" name="uvisit" id="uvisitN" value="없음" checked="checked" />
                            <label for="uvisitN" class="radio">N/A</label>
                            <input type="radio" name="uvisit" id="uvisit1" value="1회" />
                            <label for="uvisit1" class="radio">1 time</label>
                            <input type="radio" name="uvisit" id="uvisit2" value="2회" />
                            <label for="uvisit2" class="radio">2 time</label>
                            <input type="radio" name="uvisit" id="uvisit3" value="3회" />
                            <label for="uvisit3" class="radio">3 times</label>
                            <input type="radio" name="uvisit" id="uvisit4" value="4회 이상" />
                            <label for="uvisit4" class="radio">More than 4 times</label>
                        </span>
                    </li>
                    <li class="visa">
                        <span class="label txt">7. Do you have a valid passport?</span>
                        <span class="wrp_radio passport">
                            <input type="radio" name="upassport" id="upassport1" value="YES" checked="checked" />
                            <label for="upassport1" class="radio">YES</label>
                            <input type="radio" name="upassport" id="upassport2" value="NO" />
                            <label for="upassport2" class="radio">NO</label>
                        </span>
                    </li>
                    <li class="visa">
                        <span class="label txt">8. Do you have a visa to visit Korea?</span>
                        <span class="wrp_radio">
                            <input type="radio" name="uvisa" id="uvisa1" value="YES" checked="checked" />
                            <label for="uvisa1" class="radio">YES</label>
                            <input type="radio" name="uvisa" id="uvisa2" value="NO" />
                            <label for="uvisa2" class="radio">NO</label>
                            <input type="radio" name="uvisa" id="uvisa3" value="무비자 입국가능" />
                            <label for="uvisa3" class="radio none">I am eligible for visa-free entry</label>
                        </span>
                    </li>
                    <li class="visit">
                        <span class="label txt cancel">9. Is there any reason you may be refused entry to Korea?</span>
                        <span class="wrp_radio">
                            <input type="radio" name="ucancel" id="ucancel1" value="있음" checked="checked" />
                            <label for="ucancel1" class="radio">I am able to visit Korea</label>
                            <input type="radio" name="ucancel" id="ucancel2" value="없음" />
                            <label for="ucancel2" class="radio">I cannot visit Korea</label>
                            <input type="radio" name="ucancel" id="ucancel3" value="잘 모름" />
                            <label for="ucancel3" class="radio">Unsure</label>
                        </span>
                    </li>
                </ul>
                <ul>
                    <li>
                        <label for="vurl" class="txt">동영상</label>
                        <span class="wrp_lbl">
                            <input type="radio" name="movType" id="movType1" value="url" />
                            <label for="movType1" class="movType">URL</label>
                            <input type="radio" name="movType" id="movType2" value="file" />
                            <label for="movType2" class="movType">파일</label>
                        </span>
                        <input type="text" name="vurl" class="movTarget" id="vurl" title="동영상 URL입력" />
                        <input type="file" name="vfile" class="movTarget" id="vfile" title="동영상 선택" />
                    </li>
                    <li>
                        <label for="vname" class="txt">출품명</label></label>
                        <input type="text" name="vname" id="vname" />
                    </li>
                    <li>
                        <label for="vorigin" class="txt">한류 컨텐츠 원제목</label>
                        <input type="text" name="vorigin" id="vorigin" />
                    </li>
                </ul>
                <div class="notice">
                    <p>
                        입력하신 개인정보는 이벤트 참여를 위해서만 활용되며, 기타 목적으로 저장되거나 제3자에게 제공되지 않습니다.
                        정보 제공에 동의하십니까?
                    </p>
                    <p class="chk">
                        <input type="checkbox" name="agree" id="agree" />
                        <label for="agree">YES</label>
                    </p>
                </div>
                <p class="btn"><input type="submit" class="sbm" value="제출하기" /></p>
            </fieldset>
        </form>
    </div>
</div>
<script src="/js/jquery-1.12.4.min.js"></script>
<script>
(function($){
    var ufirst = $('#ufirst');
    var ulast = $('input[name=ulast]');
    var unation = $('#unation');
    var usns1 = $('#usns1');
    var usns2 = $('input[name=usns2]');
    var uemail = $('#uemail');
    var movType = $('input[name=movType]');
    var vurl = $('#vurl');
    var vfile = $('#vfile');
    var vname = $('#vname');
    var vorigin = $('#vorigin');
    var agree = $('#agree');

    var emailRegEx = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
    var emailFlag = false;
    var tmpEmail = '';

    $('.btn_chk_email').on('click', function(e){
        if(uemail.val() === ''){
            alert('이메일을 입력해 주세요');
            uemail.focus();
            return false;
        }else{
            if(!emailRegEx.test(uemail.val())){
                alert('이메일 형식이 바르지 않습니다.');
                uemail.focus();
                return false;
            }
        }

        $.ajax({
            type: 'GET',
            url: '/checkEmail',
            data: {uemail: uemail.val()},
            dataType: 'json',
            success: function(data){
                alert(data.message);
                emailFlag = true;
                tmpEmail = uemail.val();
            },
            error: function(err){
                alert(err.responseJSON.message);
                emailFlag = false;
                uemail.focus();
            }
        });

        return false;
    });

    $('.sbm').on('click', function(e){
        if(ufirst.val() === ''){
            alert('이름을 입력해 주세요');
            ufirst.focus();
            return false;
        }

        if(ulast.val() === ''){
            alert('성을 입력해 주세요');
            ulast.focus();
            return false;
        }

        if(unation.val() === ''){
            alert('국적을 입력해 주세요');
            unation.focus();
            return false;
        }

        if(usns1.val() === '' && usns2.val() === ''){
            alert('sns 주소를 최소 1개 이상 입력해 주세요');
            usns1.focus();
            return false;
        }

        if(uemail.val() === ''){
            alert('이메일을 입력해 주세요');
            uemail.focus();
            return false;
        }else{
            if(!emailRegEx.test(uemail.val())){
                alert('이메일 형식이 바르지 않습니다.');
                uemail.focus();
                return false;
            }
        }

        if(!emailFlag || tmpEmail !== uemail.val()){
            alert('이메일 중복확인을 해 주세요.');
            return false;
        }

        if(current.attr('for') === 'movType1'){
            if(vurl.val() === ''){
                alert('동영상 URL을 입력해 주세요');
                vurl.focus();
                return false;
            }
        }else{
            if(vfile.val() === ''){
                alert('동영상 파일을 선택해 주세요');
                vfile.focus();
                return false;
            }
        }

        if(vname.val() === ''){
            alert('출품명을 입력해 주세요');
            vname.focus();
            return false;
        }

        if(vorigin.val() === ''){
            alert('한류 컨텐츠 원제목을 입력해 주세요');
            vorigin.focus();
            return false;
        }

        if(!agree.prop('checked')){
            alert('개인정보 취급 방식에 동의해주세요');
            agree.focus();
            return false;
        }
    });

    var movType = $('.movType');
    var current = null;

    movType.each(function(a){
        var self = $(this),
            target = $('.movTarget');

        self.data('target', target.eq(a));

        if(a === 0) active(self);
    });

    movType.on('click', function(e){
        if(current) deactive(current);
        active($(this));
    });

    function active(item){
        item.data('target').show();
        item.addClass('on');
        current = item;
    }

    function deactive(item){
        item.data('target').hide();
        item.removeClass('on');
    }
}(jQuery));
</script>
</body>
</html>
