<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title></title>
<link rel="stylesheet" type="text/css" href="/css/common.css" />
</head>
<body>
<div class="wrap">
    <div class="header">
        <h1 class="blind">JOIN THE EVENT</h1>
    </div>
    <div class="container">
        <form method="post" action="/registerVideo" enctype="multipart/form-data">
            <fieldset>
            <legend></legend>
                <ul class="frm_mov">
                    <li>
                        <div class="wrp_top">
                            <label for="vurl" class="txt"><span class="ico"><img src="/images/ico_n1.gif" alt="1" /></span>Enter Video URL</label>
                            <input type="text" name="vurl" id="vurl" title="동영상 URL입력" />
                        </div>
                        <div class="wrp_up">
                            <p class="area_up">
                                <span>Or upload a your video/picture</span>
                                <a href="#" class="vfile"><img src="/images/btn_browse.gif" alt="browse" /></a>
                                <input type="file" name="vfile" id="vfile" title="browse a file" />
                            </p>
                            <p class="area_notice">* Choose between url or file upload / * Only 1 file can be uploaded</p>
                        </div>
                    </li>
                    <li>
                        <div class="wrp_top">
                            <label for="vname" class="txt"><span class="ico"><img src="/images/ico_n2.gif" alt="2" /></span>Title</label>
                            <input type="text" name="vname" id="vname" />
                        </div>
                    </li>
                    <li>
                        <div class="wrp_top">
                            <label for="vdesc" class="txt"><span class="ico"><img src="/images/ico_n3.gif" alt="3" /></span>Entry summary</label>
                            <textarea name="vdesc" id="vdesc"></textarea>
                        </div>
                    </li>
                    <li>
                        <div class="wrp_top">
                            <label for="vorigin" class="txt">
                                <span class="ico"><img src="/images/ico_n4.gif" alt="4" /></span>Title of the original Hallyu content
                                <span class="br">(ex: a scene from the K-Drama "Goblln")</span>
                            </label>
                            <input type="text" name="vorigin" id="vorigin" class="vorigin" />
                        </div>
                    </li>
                </ul>

                <ul class="frm">
                    <li class="name">
                        <label for="ufirst" class="txt">1. Enter Your name</label>
                        <span class="wrp_inpt name">
                            <input type="text" name="ufirst" id="ufirst" placeholder="Given name" />
                            <input type="text" name="ulast" placeholder="Family name" />
                        </span>
                    </li>
                    <li class="nationality">
                        <label for="unation" class="txt">2. Nationality</label>
                        <span class="wrp_inpt">
                            <input type="text" name="unation" id="unation" />
                        </span>
                    </li>
                    <li class="city">
                        <label for="ucity" class="txt">3. City and Country of residence</label>
                        <span class="wrp_inpt">
                            <input type="text" name="ucity" id="ucity" />
                            <input type="text" name="ucountry" id="ucountry" />
                        </span>
                    </li>
                    <li class="sns">
                        <label for="usns1" class="txt">4. SNS (Youtube, Instagram, etc)</label>
                        <span class="wrp_inpt">
                            <input type="text" name="usns1" id="usns1" />
                            <input type="text" name="usns2" />
                        </span>
                    </li>
                    <li class="email">
                        <label for="uemail" class="txt">5. Enter Your E-mail Address</label>
                        <span class="wrp_inpt">
                            <input type="text" name="uemail" id="uemail" />
                        </span>
                    </li>
                    <li class="visit">
                        <span class="label txt">6. How many times have you visited Korea?</span>
                        <span class="wrp_radio">
                            <input type="radio" name="uvisit" id="uvisitN" value="none" />
                            <label for="uvisitN" class="radio">N/A</label>
                            <input type="radio" name="uvisit" id="uvisit1" value="1 time" />
                            <label for="uvisit1" class="radio">1 time</label>
                            <input type="radio" name="uvisit" id="uvisit2" value="2 times" />
                            <label for="uvisit2" class="radio">2 time</label>
                            <input type="radio" name="uvisit" id="uvisit3" value="3 times" />
                            <label for="uvisit3" class="radio">3 times</label>
                            <input type="radio" name="uvisit" id="uvisit4" value="more than 4 times" />
                            <label for="uvisit4" class="radio">More than 4 times</label>
                        </span>
                    </li>
                    <li class="visa">
                        <span class="label txt">7. Do you have a valid passport?</span>
                        <span class="wrp_radio passport">
                            <input type="radio" name="upassport" id="upassport1" value="YES" />
                            <label for="upassport1" class="radio">YES</label>
                            <input type="radio" name="upassport" id="upassport2" value="NO" />
                            <label for="upassport2" class="radio">NO</label>
                        </span>
                    </li>
                    <li class="visa">
                        <span class="label txt">8. Do you have a visa to visit Korea?</span>
                        <span class="wrp_radio">
                            <input type="radio" name="uvisa" id="uvisa1" value="YES" />
                            <label for="uvisa1" class="radio">YES</label>
                            <input type="radio" name="uvisa" id="uvisa2" value="NO" />
                            <label for="uvisa2" class="radio">NO</label>
                            <input type="radio" name="uvisa" id="uvisa3" value="FREE" />
                            <label for="uvisa3" class="radio none">I am eligible for visa-free entry</label>
                        </span>
                    </li>
                    <li class="visit">
                        <span class="label txt cancel">9. Is there any reason you may be refused entry to Korea?</span>
                        <span class="wrp_radio">
                            <input type="radio" name="ucancel" id="ucancel1" value="can visit" />
                            <label for="ucancel1" class="radio">I am able to visit Korea</label>
                            <input type="radio" name="ucancel" id="ucancel2" value="cannot visit" />
                            <label for="ucancel2" class="radio">I cannot visit Korea</label>
                            <input type="radio" name="ucancel" id="ucancel3" value="Unsure" />
                            <label for="ucancel3" class="radio">Unsure</label>
                        </span>
                    </li>
                    <li class="age">
                        <span class="label txt">10. Age</span>
                        <span class="wrp_radio">
                            <input type="radio" name="uage" id="uage1" value="10 - 19" />
                            <label for="uage1" class="radio">10 - 19</label>
                            <input type="radio" name="uage" id="uage2" value="20 - 29" />
                            <label for="uage2" class="radio">20 - 29</label>
                            <input type="radio" name="uage" id="uage3" value="30 - 39" />
                            <label for="uage3" class="radio">30 - 39</label>
                            <input type="radio" name="uage" id="uage4" value="40 - 49" />
                            <label for="uage4" class="radio">40 - 49</label>
                            <input type="radio" name="uage" id="uage5" value="Etc." />
                            <label for="uage5" class="radio">Etc.</label>
                        </span>
                    </li>
                    <li class="sex">
                        <span class="label txt">11. Sex</span>
                        <span class="wrp_radio">
                            <input type="radio" name="usex" id="usex1" value="Male" />
                            <label for="usex1" class="radio">Male</label>
                            <input type="radio" name="usex" id="usex2" value="Female" />
                            <label for="usex2" class="radio">Female</label>
                        </span>
                    </li>
                </ul>

                <div class="notice">
                    <p>
                        All personal information shall be kept confidential and used strictly for the purposes of this event. Information will not be stored or shared with third parties. Do you agree to
                        submit your personal information?
                    </p>
                    <p class="chk">
                        <input type="checkbox" name="agree" id="agree" />
                        <label for="agree">YES</label>
                    </p>
                </div>
                <p class="btn"><a href="#" class="sbm"><img src="/images/btn_submit.gif" alt="submit" /></a></p>
            </fieldset>
        </form>
    </div>
</div>

<div class="indc">
    <div class="overlay"></div>
    <div class="cont">
        <img src="/images/gif_loading.gif" alt="uploading...." />
    </div>
</div>

<script src="/js/jquery-1.12.4.min.js"></script>
<script src="/js/common.js"></script>
</body>
</html>
