<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8" />
<title></title>
<link rel="stylesheet" type="text/css" href="/css/common.css" />
</head>
<body>
<div class="wrp_success">
    <h1>성공적으로 참여 되었습니다.</h1>
    <a href="/">확인</a>
</div>
</body>
</html>
