@charset "utf-8";

/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,textarea,p,th,td,input,select,textarea,button{margin:0;padding:0}
body,h1,h2,h3,h4,th,td,input,select,textarea,button{font-family:Helvetica,AppleSDGothicNeo,sans-serif;font-size:18px;line-height:1.5;color:#333}
body{background-color:#0099e2;text-align:center;*word-break:break-all;-ms-word-break:break-all}
img,fieldset,iframe{border:0 none}
dl,ul,ol,menu,li {list-style:none}
i,em,address,var{font-style:normal}
input,select,textarea,button{vertical-align:middle}
label,button{cursor:pointer}
input::-ms-clear {display:none}
button{border:0 none;background-color:transparent;cursor:pointer;-webkit-appearance:none;-webkit-border-radius:0;}
a{color:#333;text-decoration:none;cursor:pointer}
a:active{background:none}
hr{display:none}
table{border-collapse:collapse;border-spacing:0}
caption{position:absolute;left:0;top:-9999em;overflow:hidden;height:0;width:0;font-size:0;line-height:0}
legend{*width:0;display:none;font-size:0;height:0;left:-10000px;line-height:0;overflow:hidden;position:absolute;visibility:hidden;width:0}
div{text-align:left}
/*common*/
.blind{display:block !important;overflow:hidden !important;position:absolute !important;left:0 !important;top:-10000px !important;width:0 !important;height:0 !important}

/* layout */
.wrap{width:85%;max-width:544px;margin:0 auto}

/*.header{padding:30px 0 20px}
h1{font-size:20px;}*/

.container{padding:10% 0}

.frm_mov li{margin-top:15px}
.frm_mov li:first-child{margin-top:0}
.frm_mov .wrp_top label{position:relative;display:block;width:100%;color:#f7b52c;font-weight:bold}
.frm_mov .wrp_top label .ico{display:inline-block;width:7%;padding-right:2%;vertical-align:middle}
.frm_mov .wrp_top label .ico img{width:100%}
.frm_mov .wrp_top label .br{position:absolute;left:9%;top:30px;font-size:14px}
.frm_mov .wrp_top input, .frm_mov .wrp_top textarea{display:block;width:90%;margin-left:9%}
.frm_mov .wrp_top input.vorigin{margin-top:15px}
.frm_mov .wrp_up{width:90%;margin-left:9%;padding-top:10px}
.frm_mov .wrp_up .area_up{font-weight:bold;color:#f7b52c;*zoom:1}
.frm_mov .wrp_up .area_up:after{content:'';display:block;clear:both}
.frm_mov .wrp_up .area_up span{float:left;width:65%;padding-top:1%}
.frm_mov .wrp_up .area_up a{float:right;width:35%}
.frm_mov .wrp_up .area_up a img{width:100%}
.frm_mov .wrp_up input[type=file]{display:none}
.frm_mov .wrp_up .area_notice{padding-top:0px;font-size:14px;font-weight:bold;color:#fff}

.frm{padding:7% 5%;margin:5% 0 0;background:#fff}
.frm li{padding-top:10px;*zoom:1}
.frm li:after{content:'';display:block;clear:both}
.frm li:first-child{padding-top:0}
.frm li label,.frm li span.label{float:left;width:160px;height:30px;line-height:30px;vertical-align:middle;font-size:17px;font-weight:bold;color:#0099e2;letter-spacing:-1px}
.frm li span.wrp_inpt{float:right}

.frm li.name label{width:44%}
.frm li.name .wrp_inpt{width:56%}
.frm li.name .wrp_inpt input{float:right;width:48%;text-align:center}
.frm li.name .wrp_inpt input:first-child{float:left}

.frm li.nationality label{width:44%}
.frm li.nationality .wrp_inpt{width:56%}
.frm li.nationality .wrp_inpt input{width:100%}

.frm li.sns label{width:100%}
.frm li.sns .wrp_inpt{width:96%;padding-left:4%}
.frm li.sns .wrp_inpt input{display:block;width:100%}
.frm li.sns .wrp_inpt input:first-child{margin-bottom:5px}

.frm li.email label{width:100%}
.frm li.email .wrp_inpt{width:96%;padding-left:4%}
.frm li.email .wrp_inpt input{display:block;width:100%}

.frm li label.radio{display:inline-block;width:auto;padding:0 3%;border-radius:15px;border:1px solid #0099e2;font-size:15px;font-weight:normal}
.frm li input[type=radio]{display:none}

.frm li.visit span.label{width:100%}
.frm li.visit .wrp_radio{display:block;width:96%;padding-left:4%;text-align:right}
.frm li.visit .wrp_radio label{display:inline-block;margin-left:2%;float:none}

.frm li.visa span.label{width:100%}
.frm li.visa label.radio{padding:0 4%}
.frm li.visa .wrp_radio{display:block;width:96%;padding-left:4%;text-align:right}
.frm li.visa .wrp_radio label{display:inline-block;margin-left:1%;float:none}

.frm li input[type=text]{height:29px;line-height:29px;border-bottom:1px solid #0099e2;border-width:0 0 1px 0;border-radius:0;font-size:17px;letter-spacing:-1px}
.frm li .inbl{display:inline-block}
.frm .wrp_lbl{display:inline-block;border:1px solid #ccc;*zoom:1;vertical-align:middle}
.frm .wrp_lbl:after{content:'';display:block;clear:both}
.frm .wrp_lbl input{display:none}
.frm .wrp_lbl .movType{float:left;width:50px;height:21px;background:#fff;line-height:21px;text-align:center;cursor:pointer}
.frm .wrp_lbl .movType.on{background:#f9f9f9}
.frm li .movTarget{display:none}
.btn_chk_email{display:inline-block;padding:0 10px;border:1px solid #ccc;-webkit-border-radius:5px;border-radius:5px;background:#f9f9f9;vertical-align:middle}

.notice{display:inline-block;padding:20px;background:#fff;font-size:13px}
.notice .chk{margin-top:10px;text-align:center}
.notice .chk input{border:1px solid #666;background:#fff;border-radius:0}

.btn{padding-top:10%;text-align:center}
.btn .sbm{display:inline-block;width:30%}
.btn .sbm img{width:100%}

.wrp_success{position:absolute;left:50%;top:50%;width:300px;margin-left:-151px;margin-top:-46px;padding:20px 0;border:1px solid #ccc;text-align:center}
.wrp_success h1{padding-bottom:20px}
.wrp_success a{display:inline-block;padding:3px 10px;border:1px solid #ccc;-webkit-border-radius:5px;border-radius:5px;background:#f9f9f9}

@media only screen and (max-width:500px){
    .wrap{width:92%;margin:0 auto}

    .frm_mov .wrp_top label{font-size:14px}
    .frm_mov .wrp_up .area_notice{font-size:12px}
    .frm_mov .wrp_top label .br{left:9%;top:25px;font-size:12px}
    .frm_mov .wrp_up .area_up{font-size:14px;letter-spacing:-1px}

    .frm li label.txt,.frm li span.label.txt{display:block;font-size:14px}
    .frm li input[type=text]{display:block;width:97%;font-size:14px}

    .frm li label.radio{padding:0 2%;font-size:12px}

    .frm li.visit .wrp_radio label{margin-left:5px}
}

@media only screen and (max-width:375px){
    .frm li span.label.cancel{height:60px;line-height:25px}
}

@media only screen and (max-width:320px){
    .frm_mov .wrp_top label .br{top:20px}
    .frm_mov .wrp_up .area_up{font-size:13px}
    .frm li label.radio{padding:0 1.5%}
    .frm li.visit .wrp_radio label{margin-left:0}
}

/* admin */
.wrap.admin{width:100%;max-width:100%}
.wrp_header{background:#f9f9f9;border-bottom:2px solid #ccc}
.header.admin{width:94%;margin:0 auto}
.wrp_cnt{font-size:14px}
.wrp_cnt .cnt{font-weight:bold}

.container.admin{width:94%;margin:0 auto}
.wrp_login{position:relative;width:275px;margin:150px auto;padding:30px;border:1px solid #ebebeb}
.frm_login li{margin-top:5px}
.frm_login li label{display:inline-block;width:60px}
.frm_login li input{width:150px}
.wrp_login .btn_login{position:absolute;right:30px;top:35px}
.wrp_login .btn_login a{display:block;width:53px;height:53px;line-height:53px;border:1px solid #ccc;background:#f9f9f9;text-align:center}
.wrp_login p.err{margin-top:20px;text-align:center}

.lists{width:100%;margin-top:40px;border-bottom:1px solid #ccc}
.lists th{background:#f9f9f9}
.lists th,.lists td{height:40px;border-right:1px solid #ddd}
.lists tr th:first-child,.lists tr td:first-child{border-left:1px solid #ddd}
.lists th,.lists td.alc{text-align:center;padding-left:0}
.lists th{border-top:1px solid #ccc;border-bottom:2px solid #ccc}
.lists td{border-top:1px solid #ddd;padding-left:5px}

.pagenation{margin-top:30px;text-align:center}
.pagenation a,.pagenation span{display:inline-block;width:25px;height:25px;line-height:25px;border:1px solid #ddd;margin:0 3px;text-align:center}
.pagenation span.on{background:#eee;border:1px solid #ccc;font-weight:bold}

.frm_search{padding-top:20px;text-align:center}

.err{color:#cc001e}
